<div class="col-sm-12">
    <!-- 6. $DARK_ALERTS ===============================================================================

                    Dark alerts
    -->
    <div class="panel">
        <div class="panel-heading">
            <span class="panel-title" style="font-size:x-large;color:#ff0000">ممنوع!!!</span>
        </div>
        <div class="panel-body">
            <div class="alert alert-danger alert-dark">
                <p style="text-align:center"><strong>ورود به این قسمت از سامانه ممنوع می باشد!</strong> برای رفع مشکل استفاده از سامانه لطفا با شرکت فکرمان سیستم تماس حاصل فرمایید! با تشکر </p>
                <p style="text-align:center">www.fekreman.com</p>
            </div>
        </div>
    </div>
    <!-- /6. $DARK_ALERTS -->
</div>