@model Comision.Ui.Models.ForgetPasswordViewModel
@{
    ViewBag.Title = "ForgetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="user-login-5">
    <div class="row bs-reset">
        <div class="col-md-6 login-container bs-reset">
            <img class="login-logo login-6" src="~/Content/Images/App/uni-logo.gif" style="width: 72px; height: 100px" />
            <div class="login-content">
                <h1>بازیابی رمز عبور</h1>
                <p>رمز عبور به آدرس ایمیل شما ارسال خواهد شد.</p>
                @using (Html.BeginForm(MVC.Account.ForgetPassword(), FormMethod.Post, new {id = "loginForm", @class = "login-form form-horizontal", role = "form"}))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationMessage("", new {@class = "text-danger"})
                    <div class="row">
                        <div class="col-xs-8">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "آدرس ایمیل" })
</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <button class="btn blue" type="submit">ارسال</button>
                        </div>
                        <div class="col-sm-54">
                            <a href="@Url.Action(MVC.Account.Login())">بازگشت به صفحه ورود به سامانه</a>
                        </div>
                    </div>
                }
            </div>
            <div class="login-footer">
                <div class="row bs-reset">
                    <div class="col-xs-4 bs-reset">
                        <ul class="login-social">
                            <li>
                                <a href="javascript:;">
                                    <i class="icon-social-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <i class="icon-social-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <i class="icon-social-dribbble"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-8 bs-reset">
                        <div class="login-copyright text-right">
                            <p>Copyright &copy; Fekreman 2016</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 bs-reset">
            <div class="login-bg"> </div>
        </div>
    </div>
</div>
