@{
    ViewBag.Title = "بازیابی کلمه عبور با موفقیت انجام شد.";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        کلمه عبور شما بازسازی شده است. لطفا @Html.ActionLink("برای ورود کلیک کنید", MVC.Account.Login(), new { id = "loginLink" })
    </p>
</div>
